*
{
    margin: 0;
    padding: 10px;
}

body
{
    background-color: rgb(43,43, 43);
}

header
{
    background-color: cornflowerblue;
}

main
{
    height: 200px;
    background-color: midnightblue;
    color: whitesmoke;
}

footer
{
    background-color: aqua;
}

p
{
    width: 1000px;
}

.light-mode
{
    background-color: cadetblue;
}

.normal
{
    background-color: white;
}

.header
{
    background-color: rgb(160, 200, 237);
}

.footer
{
    background-color: rgb(200, 240, 255);
}