*
{
    margin: 0;
    padding: 10px;
}

body
{
    background-color: rgb(43,43, 43);
}

header
{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

main
{
    height: 360px;
    background-color: midnightblue;
    color: whitesmoke;
}

footer
{
    background-color: aqua;
}

p
{
    width: 900px;
}

.light-mode
{
    background-color: cadetblue;
}

.normal
{
    background-color: white;
}

.header
{
    background-color: rgb(160, 200, 237);
}

.footer
{
    background-color: rgb(200, 240, 255);
}

label
{
    font-family: Helvetica, sans-serif;
    font-size: 90%;
    color: bisque;
}

#theme
{
    padding: 5px 5px;
    background-color: rgb(65, 131, 255);
    color: rgb(255, 201, 231);
    outline: auto rgb(0, 225, 255);
}

#theme:hover
{
    background-color: rgb(36, 71, 136);
    cursor: pointer;
}

#text, #randomFact
{
    padding: 3px;
}

.rndFact
{
    line-height: 3px;
}

hr
{
    padding: 0;
}